<nav class="isTop">
  <div class="container">
    <div>
      <a href="/">
        <img src="/public/img/logo.svg">
      </a>
    </div>
    <div>
      <% if(!signedIn) { %>
        <a href="/sign-in">Sign In</a>
        <a href="/sign-up">Sign Up</a>
      <% } %>
      <% if(signedIn) { %>
        <a href="/users/account">Account</a>
        <a href="/users/sign-out">Sign Out</a>
      <% } %>
    </div>
  </div>
</nav>