<div class="open-sidenav">
  <i class="fas fa-bars fa-3x"></i>
</div>

<nav>
  <div class="container">
    <div>
      <a href="/" class="logo-container">
        <%- config.logo %>
      </a>
    </div>
    <div>
      <a href="/collections">Collections</a>
      <a href="/products?q=all">Products</a>
      <a href="/products?q=on_sale">On Sale</a>
    </div>
    <div>
      <% if(!signedIn) { %>
      <a href="/sign-in">Sign In</a>
      <a href="/sign-up" id="sign-up-link">Sign Up</a>
      <% } %>
      <% if(signedIn) { %>
      <a href="/users/account">Account</a>
      <a href="/users/sign-out">Sign Out</a>
      <% } %>
    </div>
  </div>
</nav>