<div class="mobile-nav">
  <div class="open-sidenav">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<nav id="main-navigation">
  <div class="container">
    <div class="logo">
      <a href="/" class="logo-container"><%- config.logo %></a>
    </div>

    <div class="links-group">
      <a href="/collections"><i class="fas fa-tags"></i>Collections</a>
      <a href="/products?q=all&page=1"><i class="fas fa-tshirt"></i>Products</a>
      <a href="/products?q=on_sale&page=1"><i class="fas fa-percentage"></i>On Sale</a>
    </div>

    <div class="links-group">      
      <div class="dropdown">
        <a data-toggle="account-dropdown"><i class="fas fa-chevron-down"></i> Account</a>
        <div class="dropdown-links" data-dropdown="account-dropdown">
          <% if(typeof user == 'object' && user) { %>
            <a href="/users/account"><i class="fas fa-user"></i>Account Overview</a>
            <a href="/users/sign-out"><i class="fas fa-sign-out-alt"></i>Sign Out</a>
            <% } else { %>
            <a href="/sign-in"><i class="fas fa-sign-in-alt"></i>Sign In</a>
            <a href="/sign-up"><i class="fas fa-user-plus"></i>Sign Up</a>
            <% } %>
        </div>
      </div>
    </div>

    <% if(typeof user == 'object' && user && user.admin) { %>
    <div class="links-group">
      <div class="dropdown">
          <a data-toggle="admin-dropdown"><i class="fas fa-chevron-down"></i> Administration</a>
          <div class="dropdown-links" data-dropdown="admin-dropdown">
            <a href="/admin"><i class="fas fa-user"></i>Admin Overview</a>
            <a href="/admin/add-product"><i class="fas fa-plus"></i>Add Product</a>
          </div>
      </div>
    </div>
    <% } %>
  </div>
</nav>

