# server
/application/node_modules
/application/package-lock.json

# client 
/application/assets/js/node_modules
/application/assets/js/package-lock.json

# data
/data/node_modules
/data/package-lock.json

# miscellaneous
/application/.env
/.vscode
/application/uploads
/data/*.js
/data/data/*