<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
    <link rel="stylesheet" href="/public/css/main.min.css">
    <title>Document</title>
</head>

<body>

    <%- include('partials/navbar') %>

    <main>
        <%- body %>
    </main>

    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=googleAuthInit" async defer></script>
    <script src="/public/js/three.min.js"></script>
    <script src="/public/js/vanta.min.js"></script>
    <script src="/public/js/bundle.min.js"></script>
    <script src="/public/js/google-auth.js"></script>
</body>

</html>