<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('partials/navbar') %>

    <main>
        <%- body %>
    </main>

    <div class="container">
        <div id="alerts"></div>
    </div>

    <template id="alert-template">
        <div class="alert" role="alert">
            A simple success alert—check it out!
        </div>
    </template>


<%- include('./partials/scripts.ejs') %>

</body>
</html>