.auth-page {
    height: 100%;
    min-height: 100vh;
    display: flex;


    form {
        max-width: 90%;
        padding: 4rem 0;
        background-color: rgba(255, 255, 255, 0.938);

        header {
            h1 {
                font-size: 4rem;
                text-transform: lowercase;
                color: rgba(78, 78, 78, 0.88);
            }
        }

        .form-label {
            display: flex;
            justify-content: space-between;

            p {
                margin: 0;
                font-size: .75rem;
            }
        }

        .form-text {
            margin-top: .75rem;
            display: block;
        }

        .form-actions {
            gap: 1rem;
            display: flex;
            justify-content: space-between;
            margin-top: 1.75rem;

            button {
                font-size: .85rem;
            }
        }
    }
}


@media only screen and(min-width: 1200px) {
    .auth-page {
        form {
            max-width: 44rem;
        }
    }
}