.auth-page {
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/img/snowscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .container {
        display: flex;
        justify-content: center;
    }

    form {
        max-width: 90%;
        padding: 4rem;
        background-color: rgba(255, 255, 255, 0.938);
        border-radius: .66rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);


        header {
            h1 {
                font-size: 4rem;
                text-transform: lowercase;
                color: rgba(78, 78, 78, 0.88);
            }
        }

        .form-text {
            margin-top: .75rem;
            display: block;
        }

        .form-actions {
            gap: 1rem;
            display: flex;
            justify-content: space-between;
            margin-top: 1.75rem;

            button {
                font-size: .85rem;
            }
        }
    }
}


@media only screen and(min-width: 1200px) {
    .auth-page {
        form {
            max-width: 44rem;
        }
    }
}