@import 'colors';

// nav.isTop {}


.mobile-nav {
    display: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    font-family: inherit;
    height: 5rem;
    background-color: $primary;
    border-bottom: 1px solid rgba($primary, .2);

    .container {
        height: inherit;
        display: flex;
        justify-content: space-between;

        div {
            display: inherit;
            align-items: center;
            height: inherit;

            #sign-up-link {
                background-color: $light;
                color: $primary;
                padding: .5rem 1rem;
                border-radius: .25rem;
            }

            .logo-container {
                height: inherit;
                display: flex;
                align-items: center;
                width: 50px;

                svg {
                    max-height: 50%;
                    max-width: 100%;
                    object-fit: contain;
                    fill: $light;
                }
            }

            a {
                color: $light;
                text-decoration: none;
                text-transform: capitalize;
                position: relative;
                display: flex;
                align-items: center;

                &::before,
                &::after {
                    position: absolute;
                    height: 1px;
                    border-radius: 4px;
                    background-color: $light;
                    top: 100%;
                    margin-top: 4px;
                    content: '';
                    transition: all 200ms linear;
                    opacity: 0;
                }

                &::before {
                    width: 0;
                    left: 50%;
                }

                &::after {
                    width: 0;
                    right: 50%;
                }

                &:hover {

                    &::before,
                    &::after {
                        width: 50%;
                        opacity: 1;
                    }
                }

                i {
                    display: inline-block;
                    margin-right: .51rem;
                }

                &:not(:last-of-type) {
                    margin-right: 1.4rem;
                }
            }
        }
    }
}


@media only screen and(max-width: 900px) {
    .mobile-nav {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 5rem;
        background-color: $primary;
        z-index: 4155;
        border-bottom: 1px solid #ffffff;

        .open-sidenav {
            cursor: pointer;
            width: 2.5rem;
            height: 3rem;
            z-index: 1000;
            margin: 1rem 0 0 1rem;

            span {
                display: block;
                background-color: rgb(255, 255, 255);
                height: 3px;
                width: 100%;
                transition: all 225ms ease-in;

                &:not(:last-of-type) {
                    margin-bottom: .6rem;
                }
            }

            &.isOpen {
                left: calc(80% + 1.25rem);

                span:nth-child(1) {
                    width: 33%;
                }

                span:nth-child(2) {
                    width: 66%;
                }

            }
        }
    }


    nav {
        height: calc(100% - 5rem);
        top: 5rem;
        width: 0;
        overflow: hidden;
        border-bottom: none;
        background-color: $dark;
        transition: width 215ms ease-in;

        &.isOpen {
            width: 320px;
        }

        .links-group {
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            padding: 1rem 0;
        }

        .container {
            flex-direction: column;
            justify-content: flex-start;
            padding: 0;
            width: 320px;

            div {
                flex-direction: column;
                height: auto;
                width: 100%;

                .logo-container {
                    svg {
                        fill: $light;
                        height: 150px;
                    }
                }

                a {
                    color: $light;
                    margin: 1rem 0;

                    i {
                        margin-right: .33rem;
                    }

                    &:not(:last-of-type) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}