@import 'colors';

// nav.isTop {}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    font-family: inherit;
    height: 5rem;
    background-color: $light;
    border-bottom: 1px solid rgba($primary, .2);
    // box-shadow:
    //     0 3px 5px -1px rgb(0 0 0 / 20%),
    //     0 6px 10px 0 rgb(0 0 0 / 14%),
    //     0 1px 18px 0 rgb(0 0 0 / 12%);

    .container {
        height: inherit;
        display: flex;
        justify-content: space-between;

        div {
            display: inherit;
            align-items: center;
            height: inherit;

            #sign-up-link {
                background-color: $primary;
                color: $light;
                padding: .5rem 1rem;
                border-radius: .25rem;
            }

            .logo-container {
                height: inherit;
                display: flex;
                align-items: center;
                width: 50px;

                svg {
                    max-height: 50%;
                    max-width: 100%;
                    object-fit: contain;
                    fill: $primary;
                }
            }

            a {
                color: $primary;
                text-decoration: none;
                text-transform: capitalize;

                &:not(:last-of-type) {
                    margin-right: 1rem;
                }
            }
        }
    }
}