@import 'colors';

.hero-section {
    min-height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .container {
        display: flex;
        min-height: inherit;

        .content,
        .image {
            width: 100%;
            min-height: inherit;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            animation: fadeInFromLeft 1s 1s cubic-bezier(0.075, 0.82, 0.165, 1) 1 normal forwards;
            opacity: 0;
            overflow: hidden;

            h1,
            p {
                margin: 0;
            }

            h1 {
                font-size: 4.2rem;
                font-weight: 900;
                color: $dark;
                max-width: 14ch;

                span {
                    color: $primary;
                    border-bottom: 5px solid $primary;
                }
            }

            p {
                margin: 2rem 0;
                font-size: 2rem;
                color: $dark;
            }

            button {
                max-width: 50%;
                padding: 1.25rem;
            }
        }

        .image {
            background-image: url('/public/img/pexels-katie-e-3671083.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: 0;
            animation: fadeInFromRight 1s cubic-bezier(0.075, 0.82, 0.165, 1) 1 normal forwards;
            box-shadow: 0 0 8px 35px white inset;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .hero-section {
        height: 60vh;
        padding: 1rem;

        .container {

            .content {
                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.5rem;
                }

                button {
                    padding: .95rem;
                }
            }

            .image {
                display: none;
            }
        }
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateY(200%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(200%) scale(0) rotate(360deg);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1) rotate(0);
    }
}