@import 'colors';

.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        min-height: inherit;

        .content,
        .image {
            width: 100%;
            min-height: inherit;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1,
            p {
                margin: 0;
            }

            h1 {
                font-size: 4.2rem;
                font-weight: 900;
                color: $dark;
                max-width: 14ch;

                span {
                    color: $primary;
                    border-bottom: 5px solid $primary;
                }
            }

            p {
                margin: 2rem 0;
                font-size: 2rem;
                color: $dark;
            }

            button {
                max-width: 50%;
                padding: 1.25rem;
            }
        }

        .image {
            background-image: url('/public/img/pexels-katie-e-3671083.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .hero-section {
        height: 60vh;

        .container {
            .image {
                display: none;
            }
        }
    }
}