@import 'form';
@import 'hero-section';

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.content-container {
    padding: 3rem 12px;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.33rem;

    .card {
        width: 100% !important;
    }
}

.page {
    padding: 4rem 0;
}

@media only screen and(max-width: 1200px) {
    .content-container {
        padding: 30px 12px;
    }
}