.container {

    a {
        cursor: pointer;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        margin: 2rem 0;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .badge {
            font-size: 1.2rem;
        }
    }

    form {
        #product-variants {
            display: flex;
            flex-flow: row wrap;

            img {
                max-width: 100px;
                max-height: 100px;
                cursor: pointer;

                &:hover {
                    opacity: .5;
                }
            }
        }
    }
}

@media only screen and(max-width: 999px) {
    .container {
        h1 {
            font-size: 3rem;
        }
    }
}