@import '../Components/card';
@import '../Components/colors';

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    a {
        width: 100%;
        height: 30rem;
        text-decoration: none;
        position: relative;
        border-radius: .5rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: box-shadow 170ms ease-in-out;

        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

            .product-body {
                height: 50%;
                padding: 1rem;
            }
        }

        .price {
            position: absolute;
            margin: 14px 0 0 14px;

            .green {
                color: rgb(28, 122, 28);
                font-size: 2rem;
                font-weight: 700;
            }

            .red {
                text-decoration: line-through;
                color: crimson;
                margin-left: 7px;
                font-size: 1rem;
            }
        }

        .product-img {
            height: 100%;
            width: 100%;
            background-size: 90% 90%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }

        .product-body {
            position: absolute;
            bottom: 0;
            height: 0;
            width: 100%;
            color: #ffffff;
            overflow: hidden;
            background-color: rgba($primary, .78);
            transition: height 170ms linear;
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-size: 1.4rem;
                text-transform: capitalize;
                text-align: center;
            }
        }
    }
}

@media only screen and(max-width: 1400px) and (min-width:992px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and(max-width: 992px) and (min-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and(max-width: 768px) {
    .products {
        grid-template-columns: 1fr;
    }
}