<div class="container pt-5 pb-5">
    <h1 class="mb-4">Collections</h1>

    <div class="collections">
        <% config.collections.forEach((collection) => { %>
            <a class="card" href="/products?q=<%= collection.label %>">
                <%= collection.label.replace('_', ' ') %>
            </a>
        <% }) %>
    </div>
</div>