<div class="hero-section">
    <div class="container">
        <div class="content">
            <h1>Lorem ipsum dolor <span>sit amet!</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero pariatur nesciunt voluptatem.</p>
            <button class="btn btn-primary">Click Me!</button>
        </div>
        <div class="image"></div>
    </div>
</div>

<div class="page">

</div>