<div class="hero-section">
    <div class="container">
        <div class="content">
            <%- config.page_title %>
            <%- config.page_subtitle %>

            <button class="btn btn-primary" onclick="document.getElementById('featured').scrollIntoView()">Click Me!</button>
        </div>
        <%- config.page_img %>
    </div>
</div>