<div class="hero-section">
    <div class="container">
        <div class="content">
            <%- config.page_title %>
            <%- config.page_subtitle %>

            <button class="btn btn-primary">Click Me!</button>
        </div>
        <%- config.page_img %>
    </div>
</div>

<div class="page">

</div>