<div class="container pt-5 pb-5">
    <h1><%= product.title %></h1>
    <% product.variants.forEach(variant => { %>
        <img src="<%= variant.img.src %>" />
    <% }) %>
    
    <br/><br/>

    <% product.description.forEach(paragraph => { %>
        <p><%= paragraph %></p>
    <% }) %>
</div>