<div class="auth-page">
    <div class="container">
        <form class="row g-3" method="POST" action="/sign-in/form-auth">
            <header>
                <h1>Sign In.</h1>
            </header>
    
            <div class="col-md-12">
                <label class="form-label" for="email">E-mail</label>
                <input class="form-control" type="email" id="email" name="email">
            </div>
            <div class="col-md-12">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password">
                <a class="form-text" href="/sign-up">Don't have an account?</a>
            </div>
            <div class="col-md-12 d-flex justify-content-between form-actions">
                <button type="button" id="google-btn" class="btn btn-dark">
                    <i class="fab fa-google"></i>
                    Sign In With Google
                </button>
                <button class="btn btn-primary">Sign In</button>
            </div>
        </form>
    </div>
</div>