<div class="auth-page">
    <div class="container">
        <form class="row g-3" method="POST" action="/sign-up/form-auth">
            <header>
                <h1>Sign Up.</h1>
            </header>

            <div class="col-md-12">
                <label class="form-label" for="email">E-mail</label>
                <input class="form-control" type="email" id="email" name="email">
            </div>
            <div class="col-md-6">
                <label class="form-label" for="first_name">First Name</label>
                <input class="form-control" type="text" id="first_name" name="first_name">
            </div>
            <div class="col-md-6">
                <label class="form-label" for="last_name">Last Name</label>
                <input class="form-control" type="text" id="last_name" name="last_name">
            </div>
            <div class="col-md-12">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password">
                <p class="form-text">Minimum Length: 8 Characters</p>
            </div>
            <div class="col-md-12">
                <label class="form-label" for="confirm_password">Confirm Password</label>
                <input class="form-control" type="password" id="confirm_password" name="confirm_password">
                <a class="form-text" href="/sign-in">Already have an account?</a>
            </div>
            <div class="col-md-12 d-flex justify-content-between form-actions">
                <button type="button" id="google-btn" class="btn btn-dark">
                    <i class="fab fa-google"></i>
                    Sign Up With Google
                </button>

                <button type="button" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
</div>
 