<div class="container pt-5 pb-5">
    <h1>Collections</h1>

    <div class="collections">
        <% config.collections.forEach((collection) => { %>
            <a class="card" href="/products?q=<%= collection.label %>" style="background-image: url('<%= collection.thumbnail.src %>');">
                <h3><%= collection.label.replace('_', ' ') %></h3>
            </a>
        <% }) %>
    </div>
</div>