* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    width: 100%;
    background-color: rgb(145, 145, 145);
}

nav {
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;
    background-color: #333;
    padding: 5px;
    padding: 1rem;
}

nav select {
    padding: .4rem;
    width: 20rem;
}

#result {
    padding: 5rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

#result .product {
    width: 100%;
    border-bottom: none;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
}

#result img {
    width: 150px;
    height: 150px;
}

#result .product input,
#result .product .description {
    display: block;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

#result .product .description {
    min-height: 280px;
}

#result .product label {
    display: block;
    margin-bottom: 8px;
}

#result .product button {
    padding: .6rem;
}

#result .product .images {
    margin: 1rem 0;
}

#result .product .fg {
    display: flex;
    justify-content: flex-start;
}

#result .product .fg input {
    width: auto;
}