.checkout-page {
    .desc {
        align-items: center;

        i {
            font-size: .75rem;
            cursor: pointer;
            color: gray;

            &:hover {
                opacity: .7;
            }
        }

    }

    h6 {
        color: gray;
        display: flex;
        align-items: center;

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

@media only screen and(max-width: 992px) {
    .checkout-page {
        .row.mt-5 {
            flex-direction: column-reverse;

            .col-md-4,
            .col-md-8 {
                width: 100%;
            }
        }
    }
}

@media only screen and(max-width: 768px) {
    .checkout-page {
        .row.mt-5 {
            flex-direction: column-reverse;
        }
    }
}